/* Styling for the file preview container */
.filePreview {
  display: flex;
  align-items: center;
  /* background-color: #fff !important; */
  margin-top: 10px;
  /* margin-left: 12px; */
  width: 40%;
  border: 2px solid #7367f0;
  border-radius: 10px;
  padding: 5px;
}

/* Styling for the preview image */
.previewImage {
  max-width: 25px;
  max-height: 25px;
  margin-right: 10px;
  margin-left: 5px;
}

/* Styling for the file info container */
/* .fileInfo {
  display: flex;
  flex-direction: column;
} */

/* Styling for the file name */
.fileName {
  margin-bottom: 1px;
  font-size: 14px;
}

/* Styling for the choose file button label */
.chooseFileLabel {
  display: inline-block;
  cursor: pointer;
  margin-top: 5px;
  /* padding: 5px 10px; */
  /* color: #fff; */
  border-radius: 4px;
}
